.main.chat {
  padding: 5px;
  margin: 0px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  /* position: relative; */
  & div.pre {
    position: relative;
    border-radius: 10px;
    & pre {
      display: inline-block;
      white-space: pre-wrap;
      word-break: break-all;
      border-radius: 5px;
      margin: 0;
      padding: 0.3rem 0.5rem;
    }
    img.profile.small {
      margin-right: 1rem;
      position: absolute;
      left: -2rem;
    }
  }
  div.pre.me {
    margin-inline: 0rem 5rem;
    align-self: flex-start;
    background-color: var(--orange1);
  }
  div.pre.you {
    margin-inline: 5rem 0rem;
    align-self: flex-end;
    background-color: var(--orange2);
  }
  div.pre.uuid_undefined {
    & a {
      display: none;
    }
    align-self: center;
    margin-inline: auto;
    background-color: transparent;
  }
  #LOADMORE {
    --h: 70vh;
    --slider-h: 15px;
    height: var(--h);
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    & div.status {
      padding-block: 0.5rem;
      text-align: center;
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      bottom: var(--slider-h);
    }
    & .range_slider {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      --t: 0%;
      border-radius: 1000000px;
      &::after {
        border-radius: 1000000px;
        content: '';
        display: block;
        font-size: 2rem;
        height: 2rem;
        height: var(--slider-h);
        width: 0%;
        width: var(--t);
        background-color: rgb(16, 245, 104);
        background-color: rgb(16, 245, 104, var(--t));
        transition: all ease 100ms;
      }
    }
  }
}
.main.input {
  grid-area: footer;
  /* width: 100%; */
  margin-top: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 2px;
  bottom: 3px;
  margin: 0.2rem;
  & textarea {
    padding: 0.5rem;
    box-sizing: border-box;
  }
  & button {
    background-color: var(--orange4);
    border: none;
  }
}
