.page.profile {
  & .user {
    img {
      float: left;
      margin-right: 1rem;
      height: 6rem;
      max-width: 6rem;
      object-fit: contain;
      width: auto;
      box-shadow: 0 5px 5px black;
    }
    .name{
      font-size: 1.3rem;
      font-weight: bold;
    }
    div {
      padding-block: 3px;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  .logout{
    float: right;
  }
}
