.card.contact {
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  img {
    height: 2rem;
    width: 2rem;
    object-fit: cover;
    border-radius: 35%;
  }
  /* border-bottom: gray solid 1px; */
  
  &.active {
    background-color: var(--orange3);
  }
  & .userisonline{
    position: absolute;
    height: 0.3rem;
    width: 50%;
    position: absolute;
    right: 5px;
    bottom: 2px;
    background-image: linear-gradient(to left, limegreen, transparent);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}

/* main.chat moved to mainchat.css */
.detailes.user {
  padding: 5px;
  padding-block: 3px;
  display: block;
  grid-template-columns: auto 1fr;
  align-items: center;
  img {
    float: left;
    margin-right: 1rem;
    height: 6rem;
    max-width: 6rem;
    object-fit: contain;
    width: auto;
    box-shadow: 0 5px 5px black;
  }
  .name {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
.logout {
  float: right;
}
