h1.header {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: solid gray 2px;
}
.text_block {
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-all;
  border-radius: 5px;
  margin: 0;
  padding: 0.3rem 0.5rem;
}
.active {
  background-color: var(--orange4);
}
.warning {
  background-color: rgb(255, 134, 134);
  border: solid 2px red;
  padding: 5px 1rem;
  color: darkred;
}
.isoffline,
.isonline {
  grid-area: toggle;
  position: relative;
  span {
    height: 1rem;
    width: 1rem;
    position: absolute;
    /* bottom: 1rem; */
    left: 1rem;
  }
}
.isonline {
  background-image: linear-gradient(to right, limegreen, transparent);
}
.isoffline {
  background-image: linear-gradient(to right, red, transparent);
}
.relative{
  position: relative;
}
.bottom_right{
  position: absolute;
  right: 0;
  bottom: 0;
}
.bottom_left{
  position: absolute;
  left: 0;
  bottom: 0;
}