:root {
  --orange1: rgba(255, 204, 108, 0.5);
  --orange2: rgba(255, 189, 65, 0.75);
  --orange3: rgb(255, 165, 0);
  --orange4: rgb(255, 130, 0);
  --orange5: rgb(255, 100, 0);
  --orange6: rgb(255, 50, 0);
  --color-hero: rgb(255, 136, 0);
  --color-hero-dark: darkorange;
  --color-hero-black: rgb(107, 59, 0);
  --nav1-width: minmax(3rem, 8vw);
  --nav2-width: minmax(10rem, 30vw);
  --header-height: 2.5rem;
  --footer-height: 2.5rem;
}
* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  caret: var(--orange3);
  caret-shape: bar;
  accent-color: var(--orange3);
  box-sizing: border-box;
}
[role='button'],
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.btn {
  border: none;
  padding: 5px 2rem;
  border-radius: 0.5rem;
  &.hero {
    font-size: 110%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-hero);
    outline: solid 1px var(--color-hero-black);
    &:hover {
      background-color: var(--color-hero-dark);
      outline-color: darkblue;
    }
    color: darkblue;
  }
  &.warn {
    outline: solid 1px var(--color-hero-black);
    background-color: rgba(255, 133, 96, 0.822);
    color: darkred;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
#root {
  display: grid;
  block-size: 100vh;
  block-size: 100dvh;
  block-size: 100svh;
  grid-template-columns: var(--nav1-width) var(--nav2-width) 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  /* original areas */
  /* 'logo header1 header2'
    'nav1 nav2 main'
    'toggle nav2 main'; */
  /* for browsers with NO :has support */
  grid-template-areas:
    'logo header1 header2'
    'nav1 nav2 main'
    'toggle footer footer';
  /* for browsers with :has support */
  &:has(:not(main)) {
    grid-template-areas:
      'logo header1 header2'
      'nav1 nav2 main'
      'toggle nav2 main';
  }
  &:has(main) {
    grid-template-areas:
      'logo header1 header2'
      'nav1 nav2 main'
      'toggle nav2 footer';
  }
  &:has(main.nofooter) {
    grid-template-areas:
      'logo header1 header2'
      'nav1 nav2 main'
      'toggle nav2 main';
  }
}
a.logo {
  display: flex;
  place-self: center;
}
img.logo_inline {
  height: 1rem;
  width: auto;
  margin-right: 0.5rem;
  vertical-align: middle;
}
h1 img.logo_inline {
  height: 2rem;
  width: auto;
  margin-right: 1rem;
}
header {
  border-bottom: 1px gray solid;
  margin-bottom: -1px;
}
.header1 {
  grid-area: header1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 5px;
  /* background-color: var(--orange3); */
  & > * {
    background-color: var(--orange1);
    flex-grow: 1;
    text-align: center;
    place-content: center;
    &.active {
      background-color: var(--orange4);
    }
  }
}
.header2 {
  grid-area: header2;
  h2{
    margin: 0.2rem 1rem;
  }
}
.header2.wide {
  grid-column-start: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  list-style: none;
  margin: 0px;
  overflow: hidden;
  padding: 3px;
}
nav.nav1 {
  border-right: 1px gray solid;
  overflow: hidden auto;
  grid-area: nav1;
  /* background-color: var(--orange2); */
  ul {
    padding: 0;
    & a {
      padding: min(1rem, 2vh) 5px;
      display: block;
      & .active {
        background-color: var(--orange4);
      }
    }
    & > * {
      border-bottom: gray solid 1px;
    }
    & label {
      /* font-size: 1.5rem; */
      margin-left: 0.5rem;
      vertical-align: bottom;
    }
  }
}
nav.nav2 {
  position: relative;
  grid-area: nav2;
  border-right: gray solid 1px;
  background-color: var(--orange1);
  display: grid;
  align-content: start;
  overflow: hidden auto;
  & > * {
    border-bottom: gray solid 1px;
  }
  & header {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 1.5rem;
  }
  &.new {
    a {
      padding: 0.5rem 2rem;
    }
    & a span{
      margin-inline: 1rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
      vertical-align: middle;
    }
  }
}
main {
  overflow: hidden auto;
  grid-area: main;
  overflow: auto;
  height: calc(100dvh - var(--header-height) - var(--footer-height));
  height: calc(100svh - var(--header-height) - var(--footer-height));
}
.full_h {
  /* height: calc(100dvh - var(--header-height) - var(--footer-height)); */
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 3;
}
.nothing {
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  #root {
    grid-template-columns: var(--nav1-width) 1fr 4rem;
  }
  nav.nav1 label {
    display: none;
  }
  #root:has(main) {
    /* 'logo header1 header2'
    'nav1 nav2 main'
    'toggle nav2 main'; */
    grid-template-areas:
      'logo header2 header2'
      'main main main'
      'footer footer footer';
    nav,
    /* .logo, */
    .isoffline,
    .isonline,
    .nav1,
    .nav2,
    .header1 {
      display: none;
    }
  }
  #root:has(main.nofooter) {
    /* 'logo header1 header2'
    'nav1 nav2 main'
    'toggle nav2 main'; */
    grid-template-areas:
      'logo header2 header2'
      'main main main'
      'main main main';
    --footer-height: 0rem;
    .full_h {
      height: calc(100dvh - var(--header-height));
      height: calc(100svh - var(--header-height));
    }
  }
  #root:has(textarea#message) {
    --footer-height: 4rem;
  }
}
/* moved to mainchat.css */
/* main.chat {
} */

a:hover,
button:hover {
  background-color: rgba(255, 136, 0, 0.753);
  transition: background-color ease-out 200ms;
}
