:root {
  --color-hero: orange;
  --color-hero-dark: darkorange;
  --color-hero-black: rgb(107, 59, 0);
}
button {
  cursor: pointer;
}
.btn {
  border: none;
  padding: 5px 2rem;
  border-radius: 0.5rem;
  &.hero {
    background-color: var(--color-hero);
    outline: solid 1px var(--color-hero-black);
    &:hover {
      background-color: var(--color-hero-dark);
      outline-color: darkblue;
    }
    color: darkblue;
  }
  &.warn {
    outline: solid 1px var(--color-hero-black);
    background-color: rgba(255, 133, 96, 0.822);
    color: darkred;
  }
}
